<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.huhangchn.dao.GoodsAttributeValueMapper">
  <resultMap id="BaseResultMap" type="com.github.huhangchn.model.GoodsAttributeValue">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="value_id" jdbcType="INTEGER" property="valueId" />
  </resultMap>
</mapper>