<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.huhangchn.dao.OrdersSkuMapper">
  <resultMap id="BaseResultMap" type="com.github.huhangchn.model.OrdersSku">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="orders_id" jdbcType="INTEGER" property="ordersId" />
    <result column="sku_id" jdbcType="INTEGER" property="skuId" />
    <result column="sku_name" jdbcType="VARCHAR" property="skuName" />
    <result column="sku_image" jdbcType="VARCHAR" property="skuImage" />
    <result column="sku_attr" jdbcType="VARCHAR" property="skuAttr" />
    <result column="sku_price" jdbcType="DECIMAL" property="skuPrice" />
    <result column="purchase_num" jdbcType="INTEGER" property="purchaseNum" />
    <result column="discount_price" jdbcType="DECIMAL" property="discountPrice" />
    <result column="actual_price" jdbcType="DECIMAL" property="actualPrice" />
  </resultMap>
</mapper>